<div class="container-fluid">
    <p class="h3 p-3">{{bookDetail.name}}</p>
    <div class="row">
      <div class="col-2">
        <div class="thumb">
          <img class="img-fluid" src="{{bookDetail.image}}" />
        </div>
      </div>
      <div class="col">
        <dl>
          <dt>Authors</dt>
          <dd>No available information</dd>
          <dt>ISBN</dt>
          <dd>{{bookDetail.isbn}}</dd>
          <hr>
          <dt>Publishing Date</dt>
          <dd>{{ bookDetail.publishingdate }}</dd>
          <hr>
          <dt class="bold">Editorial</dt>
          <dd class="caption">{{bookDetail.editorial.name}}</dd>
          <hr>
          <dt class="bold">Description</dt>
          <dd>{{bookDetail.description}}</dd>
        </dl>
      </div>
    </div>
  </div>