<div class="container-fluid">
  <p class="h3 p-3">Detalles de la mascota</p>
  <div class="row">
      <div class="col">
        <dl>
          <dt>ID: </dt>
          <dd>{{pet.id}}</dd>
          <dt>Nombre: </dt>
          <dd>{{pet.name}}</dd>
          <dt>Likes: </dt>
          <dd>{{pet.likes}}</dd>
          <dd> <img src="{{pet.image}}" alt="Imagen de la mascota" class="img-fluid"></dd>
        </dl>
        <table>
          <!-- pet.activities -->
          <!-- <div class="col" *ngFor="let a of p.activities">
            <div class="card" style="width: 18rem;">
              a.id
              a.name
              a.date
            </div>
          </div> -->
        </table>
      </div>
    </div>
    <div>
  </div>
</div>
